{% extends 'aplikacija/base.html' %}

{% block content %}
{% load static %}

<div class="hero">
    <div id="infoMsg">{{msg}}</div>
     GLOBE TOURS 
</div>
<div id="mainHome">
    <div class="mainLeft tourDetailTab">
        <h1>See the world!</h1>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non a quis dignissimos maiores quasi autem facilis error voluptatum enim assumenda mollitia repudiandae iste distinctio perferendis dolorum consequatur, harum dolores maxime.</div>
    <div class="mainRight tourDetailTab">
        <h1>Our Vision</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti doloremque delectus, qui beatae eligendi labore alias praesentium quia omnis neque ullam eum architecto, aut sunt iure repudiandae obcaecati dolorem!
    </div> 
</div>
{% endblock %}