<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Agency</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/6f44727d31.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav id="nav" class="skyBlue">
        <ul class='navList'>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'tour_list' %}">Our tours</a></li>
            <li><a href="#">Reservations</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <main>
    {% block content %}


    {% endblock %}

</main>
    <footer id="footer" class="skyBlue">
        <ul class="navList">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>&copy; pavle</p>
    </footer>
</body>
</html>