{% extends 'aplikacija/base.html' %}

{% block content %}
{% load static %}

<div class="hero">
    <div id="infoMsg">{{msg}}</div>
     GLOBE TOURS 
</div>
<div id="mainHome">
    <div class="mainLeft tourDetailTab">
        <h1>See the world!</h1>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non a quis dignissimos maiores quasi autem facilis error voluptatum enim assumenda mollitia repudiandae iste distinctio perferendis dolorum consequatur, harum dolores maxime.</div>
    <div class="mainRight tourDetailTab">
        <h1>Our Vision</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae deleniti doloremque delectus, qui beatae eligendi labore alias praesentium quia omnis neque ullam eum architecto, aut sunt iure repudiandae obcaecati dolorem!
    </div> 
</div>
<h2 id="mostPopularTitle">Most popular destinations</h2>
<div id=topThree>
    
    <table>
        <tr>
    {% for tour in top_three %}
    <td>
    <div class="tourTab">
        <a href="{% url 'tour_detail' pk=tour.pk %}">
        {% load static %}
        <img src='{{ tour.photo.url }}' alt="photo" width="200" height="133">
        <h2>{{tour.destination}}, {{tour.country}}</h2>
        <h3>${{tour.price}}</h3>
        </a>
    </div>
</td>
    {% endfor %}
</tr>
</table>
</div>
{% endblock %}